@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --main-color: #393536; 
    --secondry-color: #218575;
    --accent-color: #ff680a;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    text-align: center;
}